{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=400">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        a {
            color: #D3D3D3;
        }
    </style>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <title>Wallet</title>
</head>
<body>
    <div class="container" style="height: 100%;">
        <div class="d-flex flex-column justify-content-between" style="height: 100%; padding: 40px 0px;">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <img src="{% static 'img/logo.png' %}" width="100" height="100" alt="">
                    <div class="d-flex flex-column align-items-end">
                        <h1 style="font-size: 36px; font-weight: 700;">SRP LOTTERY</h1>
                        <div class="d-flex">
                            <a href="{% url 'tickets' %}">My tickets</a>
                            <a href="{% url 'mint' %}" style="margin-left: 20px;">Store</a>
                            <a href="{% url 'info' %}" style="margin-left: 20px;">Info</a>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px; line-height: 24px; font-size: 18px;">
                    We invite you to take part in the first season of an exciting game, which consists of searching for the secret phrase for restoring a wallet containing a certain amount of $TON. The conditions are as follows: The prize fund is 2500 $TON, distributed among wallets as follows:
                </div>
                <div class="table_container">
                    <table>
                        <tr>
                            <th style="border-right: 1px solid #D3D3D3; border-bottom: 1px solid #D3D3D3;">Wallet number</th>
                            <th style="border-bottom: 1px solid #D3D3D3;">$TON quantity</th>
                        </tr>
                        {% for wallet in wallets %}
                        <tr>
                            <td>{{wallet.id}}</td>
                            <td>{{wallet.prize}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <a href="#" class="continue" id="connect" style="text-align: center;">
                <img style="width: 80%;" src="{% static 'img/continue.svg' %}" alt="">
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;

        tg.expand();
        document.addEventListener("touchmove", function (event) {
            event.preventDefault();
        },
        {
            passive: false
        });

        const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
            manifestUrl: 'https://srplottery.online/static/tonconnect.json',
            language: 'ru',
            restoreConnection: false
        });

        const connect = document.querySelector("#connect")

        connect.addEventListener("click", async function(){
            await tonConnectUI.openModal();
        })

        function getNFTItems(address) {
            var xhr = new XMLHttpRequest();
            var url = `https://testnet.tonapi.io/v2/accounts/${address}/nfts?collection=EQAldhsjAGXKhPEJPZzgyMVKcp2rEIoOt9CCClNeoDdDbvCH&limit=1000&offset=0&indirect_ownership=false`;

            xhr.open('GET', url);

            xhr.responseType= 'json';

            xhr.onreadystatechange = function () {
                if (xhr.status == 200) {
                    if (xhr.response["nft_items"].length == 0) {
                        window.location.pathname = "/mint/"
                    }
                    else {
                        window.location.pathname = `/tickets/`
                        
                    }
                }
            };

            xhr.send();
        }



        const unsubscribe = tonConnectUI.onStatusChange(
            walletAndwalletInfo => {
                getNFTItems(walletAndwalletInfo.account.address)
            } 
        );

        


    </script>
</body>
</html>